{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ function.name }}{% endblock %}

{% block content %}

<div class="container-fuild">
    <div class="row titleFunction">
        <div class="col-md-push-12 white_background">
            <div class="title">
                <h1>{{ function.name }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-md-push-3 col-md-6 boxElement animated slideInUp">
            <div class="description_block">
                {% include 'AppBundle:EZFunction:_description.html.twig' with {'function': function, 'language': language} %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
