{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}
{% block class_body %}home{% endblock %}
{% block content %}
	<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Do something you love.</h1>
							<h2 class="to-animate">Easy langage est un langage destiné aux développeurs ainsi qu'aux non développeurs,
							facile d'utilisation,flexible et pragmatique, grâce à ses nombreuses fonctionnalités.</h2>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="fh5co-block to-animate" style="background-image: url(images/img_7.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-bulb"></i>
						<h2>Premier pas avec EZ</h2>
						<p>Découverez nos tutoriels détaillés et apprennez à programmer en EZ en quelques clicks </p>
						<p><a href="#" class="btn btn-primary">Commencer</a></p>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(images/img_8.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-wrench"></i>
						<h2>Documentation</h2>
						<p>	Cette section fournit des informations détaillées sur les fonctionnalités clés du langage EZ et les fonctions accessibles</p>
						<p><a href="#" class="btn btn-primary">Click ici</a></p>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-rocket"></i>
						<h2>A propos du langage </h2>
						<p> Easy language est un langage deprogrammation compilé,son atout principal, est sa syntaxe claire </p>
						<p><a href="#" class="btn btn-primary">Découvrir</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Avancement</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>...</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
