{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      this is just an example !
    </div>
</div>

{% endblock content %}
