<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p> Copyright © 2016 Master 2 Angers </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social social-circle">
                    <li> <a href="https://github.com/ezlanguage/ezlanguage">
                    <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
