<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('app_about') }}">{{ 'navbar.about' | trans }}</a></li>
                <li><a href="#">{{ 'navbar.contact' | trans }}</a></li>
            </ul>
            <p class="navbar-text">
                Copyright © 2016 onetrickporo.com - N° de dépôt N12312
            </p>
            <p class="navbar-text">
                Created by <a href="https://www.facebook.com/ShihoLoL/">Shiho</a>
            </p>
            <p class="navbar-text">
                <a href="#">
                    <i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
                </a>
            </p>
        </div>

    </div>
</footer>
