<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('app_about') }}">{{ 'navbar.about' | trans }}</a></li>
                <li><a href="#">{{ 'navbar.contact' | trans }}</a></li>
            </ul>
            <p class="navbar-text">
                Copyright © 2016 Master 2 Angers
            </p>
            <p class="navbar-text">
                OpenSource Project 
            </p>
            <p class="navbar-text">
                <a href="https://github.com/ezlanguage/ezlanguage">
                    <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                </a>
            </p>
        </div>

    </div>
</footer>
