<footer id="footer" class="text-center footer" >
  <p> Copyright © 2016 Master 2 Angers </p>
  <ul class="social social-circle">
            <li> <a href="https://github.com/ezlanguage/ezlanguage">
            <i class="fa fa-lg fa-github" aria-hidden="true"></i>
        </a></li>
  </ul>
</footer>
