{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
    
    <h1>Liste des tutos</h1>
    
    {% for tutorial in tutorials %}
    <tr>
        <td>{{ tutorial.id }}</td>
        <td>{{ tutorial.french_title }}</td>
    </tr>
    {% endfor %}
            
{% endblock content %}
